[submodule "cluster_spec.ride-booking-nischay"]
	path = cluster_spec.ride-booking-nischay
	url = https://github.com/Zeta-Enterprise/cluster_spec.ride-booking-nischay.git

[submodule "driver-service"]
	path = driver-service
	url = https://github.com/Zeta-Enterprise/zea-2026-b02-nischay-ride-booking-driver-service.git

[submodule "notification-service"]
	path = notification-service
	url = https://github.com/Zeta-Enterprise/zea-2026-b02-nischay-ride-booking-notification-service.git

[submodule "ride-service"]
	path = ride-service
	url = https://github.com/Zeta-Enterprise/zea-2026-b02-nischay-ride-booking-ride-service.git